body {
    background: aliceblue;
}

aside {
    float: left;
    background: azure;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    color: mediumblue;
    border-right: 2px solid khaki;
}

aside ul {list-style: none}
aside ul li {
    color: mediumblue;
    display: block;
    margin-top: 20px;
}
